---
import '@fontsource-variable/onest';
---
<body>
    <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
    <h1 class="text-bold text-green-600 mb-4 text-8xl tracking-tight md:text-5xl lg:text-6xl text-center mt-20">Page not found</h1>
    <a href="/"><h2 class="text-center text-white text-2xl underline">Back to the Start Page</h2></a>
</body>