---
import Table from '../components/Table.astro'
---

<div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
<h1 class="text-yellow-400 text-7xl mt-20 text-center font-extrabold tracking-tight">SocialTask Releases</h1>

<Table/>