---
import '@fontsource-variable/onest';
---


<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-20">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Version
                </th>
                <th scope="col" class="px-6 py-3">
                    Changelog
                </th>
                <th scope="col" class="px-6 py-3">
                    Android APK
                </th>
                <th scope="col" class="px-6 py-3">
                    iOS IPA
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class= "border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    0.0.5
                </th>
                <td class="px-6 py-4">
                    <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Coming Soon</a>
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/SocialTask/SocialTask/releases/download/v0.0.5-Multi/SocialTask.apk" target="blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/SocialTask/SocialTask/releases/download/v0.0.5-Multi/SocialTask.ipa" target="blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                </td>
            </tr>
            <tr class=" border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    0.0.2
                </th>
                <td class="px-6 py-4">
                    <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Coming Soon</a>
                </td>
                <td class="px-6 py-4">
                    <a href="https://www.mediafire.com/file/l54h7poss4t4pyb/SocialTask_V0.02.apk/file" target="blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                </td>
                <td class="px-6 py-4">
                    <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Coming Soon</a>
                </td>
            </tr>
            <tr class=" border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    0.0.3
                </th>
                <td class="px-6 py-4">
                    <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Coming Soon</a>
                </td>
                <td class="px-6 py-4">
                    <a href="https://www.mediafire.com/file/07fezud2jvx1hmp/SocialTask_V0.03.apk/file" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                </td>
                <td class="px-6 py-4">
                    <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Coming Soon</a>
                </td>
            </tr>
            <tr class=" border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    0.0.4
                </th>
                <td class="px-6 py-4">
                    <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Coming Soon</a>
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/SocialTask/socialtask/releases/download/v0.0.4/app-release.1.apk" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/SocialTask/socialtask/releases/download/v0.0.4-iOS/SocialTask.ipa" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    0.0.4.1
                </th>
                <td class="px-6 py-4">
                    <a href="" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Coming Soon</a>
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/SocialTask/socialtask/releases/download/v0.0.4.1-Multi/SocialTask.apk" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/SocialTask/socialtask/releases/download/v0.0.4.1-Multi/SocialTask.ipa" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
